body{
  background:hsl(231, 9%, 15%);
  color:#fff;
  vertical-align: middle; 

}

.App{
  /* margin:"14rem"; */
  display:flex;
  justify-content:center;
  flex-direction: column;
}


.App label{
  margin:1rem;
  padding:1rem;
}

.App label , input{
  display:flex;
  justify-content:center;
  flex-direction: column;
  width:30%; 
  font-size: 20px;
  height:2rem;
  border-radius: 7px;

  margin:auto auto;
  text-align: center;
}



.button{
  cursor: pointer;
  width:10vw;
  background-color:green;
  color:white;
  text-align: center;
  margin-top: 3rem;
  margin:2rem  auto;
} 

